<html>
<head>
<title>uk.ac.glasgow.teamH.test.stories.NF-SupportMoreThan20SessionsPerCourse</title>
<style type="text/css" media="all">
@import url( "./style/jbehave-core.css" );
</style>
</head>
<body>
<div class="story">
<h1></h1>
<div class="path">uk/ac/glasgow/teamH/test/stories/NF-SupportMoreThan20SessionsPerCourse.story</div>
<div class="narrative"><h2>Narrative:</h2>
<div class="element inOrderTo"><span class="keyword inOrderTo">In order to</span> achieve full functionality</div>
<div class="element asA"><span class="keyword asA">As a</span> user</div>
<div class="element iWantTo"><span class="keyword iWantTo">I want to</span> use the system without any errors</div>
</div>
<div class="scenario">
<h2>Scenario: System needs to support over 20 timeslots per session</h2>
<div class="step successful">Given a system</div>
<div class="step successful">When session <span class="step parameter">2</span> is selected and it has over <span class="step parameter">20</span> timeslots</div>
<div class="step failed">Then if number of timeslots are over <span class="step parameter">20</span> then the system can support <span class="keyword failed">(FAILED)</span><br/><span class="message failed">java.lang.AssertionError</span></div>
</div>
</div>

</body>
<!--  SyntaxHighlighter resources:  should be included at end of body -->
<link rel="stylesheet" type="text/css" href="./style/sh-3.0.83/shCore.css"/>
<link rel="stylesheet" type="text/css" href="./style/sh-3.0.83/shThemeRDark.css"/>
<script language="javascript" src="./js/sh-3.0.83/shCore.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushBash.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushCss.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushDiff.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushGroovy.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushJava.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushJScript.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushPlain.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushPython.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushRuby.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushScala.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushXml.js"></script>
<script language="javascript" src="./js/shBrushBdd.js"></script>
<script type="text/javascript">
    SyntaxHighlighter.defaults['gutter'] = false;
    SyntaxHighlighter.defaults['toolbar'] = false;    
    SyntaxHighlighter.all();
</script>
</html>
